[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/aviseksarkar
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/aviseksarkar
	label-Verified = -1..+1 group user/aviseksarkar
	push = group user/aviseksarkar
	read = group user/aviseksarkar
	rebase = group user/aviseksarkar
	removeReviewer = group user/aviseksarkar
	submit = group user/aviseksarkar
[access "refs/heads/*"]
	create = group user/aviseksarkar
	push = +force group user/aviseksarkar
	pushMerge = group user/aviseksarkar
	read = group user/aviseksarkar
[access "refs/tags/*"]
	push = group user/aviseksarkar
	push = +force group user/aviseksarkar
